<div th:fragment="dateTimeValueToast (info, processing, text, color, isPermanent)" id="toast-date-and-time-value" role="status" aria-live="polite" aria-atomic="true" class="position-fixed toast m-3 top-0 end-0" data-bs-autohide="true" data-bs-delay="10000" style="z-index:10">
    <div class="toast-header">
        <svg class="bd-placeholder-img rounded me-2 bg-success" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" th:fill="${color}"></rect></svg>
        <strong class="me-auto" th:text="${info}">sql2RegEx</strong>
        <small th:text="${processing}">localStorage</small>
    </div>
    <div class="toast-body" th:utext="${text}">
        This is a toast message.
    </div>
</div>