<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-success" >
    <div class="container">
        <a href="/" class="navbar-brand align-items-center">
            <img width="60" alt="sgl2regex logo" th:src="@{/img/logo_sql2regex.svg}">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto" id="navbarlinks">
                <a th:class="${activeConverter}? 'nav-item nav-link fw-bolder active' : 'nav-item nav-link fw-bolder'" href="/">converter</a>
                <a th:class="${activeVisualization}? 'nav-item nav-link fw-bolder active' : 'nav-item nav-link fw-bolder'" href="visualization">visualization</a>
                <a th:class="${activeExamples}? 'nav-item nav-link fw-bolder active' : 'nav-item nav-link fw-bolder'" href="examples">examples</a>
                <a th:class="${activeAbout}? 'nav-item nav-link fw-bolder active' : 'nav-item nav-link fw-bolder'" href="about">about</a>
            </div>
            <div class="navbar-nav">
                <button type="button" onclick="location.href='https://github.com/StEx2022-23/sql2regex';" class="btn btn-info m-1">Sourcecode @GitHub</button>
                <button type="button" onclick="location.href='https://tu-dresden.de/ing/informatik/smt/ddi';" class="btn btn-tert m-1">Didaktik der Informatik @TUD</button>
                <button type="button" onclick="languageChange()" class="btn btn-secondary m-1">
                    <svg width="24" height="24" viewBox="0 0 4.2333 4.2333" xmlns="http://www.w3.org/2000/svg">
                        <path d="m2.1251 0.21686a1.8979 1.9655 89.999 0 0-1.9654 1.8981 1.8979 1.9655 89.999 0 0 1.9658 1.8977 1.8979 1.9655 89.999 0 0 1.9654-1.8981 1.8979 1.9655 89.999 0 0-1.9658-1.8977zm3.67e-5 0.31562a1.5825 1.5672 89.974 0 1 1.5676 1.5821 1.5825 1.5672 89.974 0 1-1.5672 1.5829 1.5825 1.5672 89.974 0 1-1.5671-1.5826 1.5825 1.5672 89.974 0 1 1.5667-1.5825z" fill="#808080" stroke-width="1.2256"/>
                        <path transform="matrix(.033724 .54732 -.49519 -.0046545 2.0953 -3.871)" d="m13.546 5.1325-3.0726-0.8901 2.3071-2.2159z" fill="#ccc"/>
                        <path transform="matrix(-.033724 -.54732 .49519 .0046545 2.1455 8.0319)" d="m13.546 5.1325-3.0726-0.8901 2.3071-2.2159z" fill="#ccc"/>
                        <text x="-0.12390018" y="1.621966" fill="#000000" font-family="sans-serif" font-size="2.1167px" stroke-width=".26458" style="line-height:1.25" xml:space="preserve"><tspan x="-0.12390018" y="1.621966" font-size="2.1167px" stroke-width=".26458">DE</tspan></text>
                        <text x="1.4537982" y="4.1506262" fill="#000000" font-family="sans-serif" font-size="2.1167px" stroke-width=".26458" style="line-height:1.25" xml:space="preserve"><tspan x="1.4537982" y="4.1506262" font-size="2.1167px" stroke-width=".26458">EN</tspan></text>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</nav>