<div th:fragment="userSettingsToast" id="toast-loaded-user-settings" role="status" aria-live="polite" aria-atomic="true" class="position-fixed toast m-3 top-0 end-0" data-bs-autohide="true" data-bs-delay="2000" style="z-index:10">
    <div class="toast-header">
        <svg class="bd-placeholder-img rounded me-2 bg-success" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#a3be8c"></rect></svg>
        <strong class="me-auto" th:text="#{toast.information}">sql2RegEx</strong>
        <small th:text="#{toast.localStorage}">localStorage</small>
    </div>
    <div class="toast-body" th:text="#{toast.userSettingsLoaded}">
        This is a toast message.
    </div>
</div>