<!DOCTYPE HTML>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="assets/header :: header">
        <title>sqltoregex</title>
    </head>
    <body class="bg-dark">
        <button lang="en" th:replace="assets/scrolltotop :: scrolltotop"></button>
        <nav lang="en" th:replace="assets/navbar :: navbar"></nav>
        <div lang="en" th:replace="assets/userwarning :: userwarning"></div>
        <div class="container mt-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="pb-3" th:text="#{howTo.h1}"></h1>

                    <div class="accordion" id="howToAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed fs-3 text-break" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" th:utext="#{howTo.introduction}"></button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#howToAccordion">
                                <video class="w-100" controls controlsList="nodownload">
                                    <source src="/vids/part1.webm" type="video/webm">
                                </video>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed fs-3 text-break" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" th:utext="#{howTo.eAssessment}"></button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#howToAccordion">
                                <video class="w-100" controls controlsList="nodownload">
                                    <source src="/vids/part2.webm" type="video/webm">
                                </video>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed fs-3 text-break" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" th:utext="#{howTo.specialHints}"></button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#howToAccordion">
                                <video class="w-100" controls controlsList="nodownload">
                                    <source src="/vids/part2.webm" type="video/webm">
                                </video>
                            </div>
                        </div>
                    </div>

                    <hr class="my-3"/>
                </div>
            </div>
        </div>
    </body>
    <footer lang="en" th:replace="assets/footer :: footer"></footer>
    <div lang="en" th:replace="assets/jsscripts :: jsscripts"></div>
</html>