<!DOCTYPE HTML>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="assets/header :: header">
        <title>sql2regex</title>
    </head>
    <body class="bg-dark">
        <button lang="en" th:replace="assets/scrolltotop :: scrolltotop"></button>
        <nav lang="en" th:replace="assets/navbar :: navbar"></nav>
        <div lang="en" th:replace="assets/userwarning :: userwarning"></div>

        <div class="container mt-3">
            <div class="card">
                <div class="card-body">
                    <h1>Impressum</h1>
                    <h3>Informations according to &sect; 5 TMG</h3>
                    <p>
                        Patrick Binkert
                        <br/>
                        Maximilian Förster
                    </p>
                    <h3>Contact</h3>
                    <p>
                        E-Mail: contact@binkert-patrick.de
                        <br/><br/>
                        GitHub: https://github.com//alletkla
                        <br/>
                        GitHub: https://github.com//binkertpat
                    </p>
                    <h2>Disclaimer - Disclaimer:</h2>
                    <h3>Liability for contents</h3>
                    <p>
                        All contents of our website have been created with the utmost care and to the best of our knowledge. However, we cannot guarantee the accuracy, completeness and timeliness of the content. As a service provider, we are responsible for our own content on these pages in accordance with § 7 paragraph 1 TMG under the general laws. According to §§ 8 to 10 TMG, however, we are not obligated as a service provider to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information under the general laws remain unaffected.
                        However, liability in this regard is only possible from the point in time at which a concrete infringement of the law becomes known. If we become aware of the above-mentioned infringements, we will remove this content immediately.
                    </p>
                    <h3>Limitation of liability for external links</h3>
                    <p>
                        Our website contains links to external websites of third parties. We have no influence on the content of these directly or indirectly linked websites. Therefore, we cannot guarantee the correctness of the contents of the "external links". The respective providers or operators (authors) of the sites are responsible for the contents of the external links.
                        The external links were checked for possible legal violations at the time of linking and were free of illegal content at the time of linking. A constant review of the contents of the external links is not possible without concrete evidence of a violation of the law. In the case of direct or indirect links to the websites of third parties that lie outside our area of responsibility, a liability obligation would only exist in the case where we become aware of the content and it would be technically possible and reasonable for us to prevent use in the case of illegal content.
                        This disclaimer also applies to links and references within our own website "Name of your domain" from questioners, bloggers, guests of the discussion forum. For illegal, incorrect or incomplete contents and in particular for damage, which develops from the use or disuse of such presented information, alone the service provider of the side, to which one referred, is responsible in particular that, which refers over left to the respective publication only.
                        If we become aware of any legal violations, we will remove the external links immediately.
                    </p>
                    <h3>Copyright</h3>
                    <p>
                        The contents and works published on our website are subject to German copyright law (http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf) . The reproduction, processing, distribution and any kind of exploitation of intellectual property in ideal and material view of the author outside the limits of copyright require the prior written consent of the respective author in the sense of copyright law (http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf ). Downloads and copies of this site are only permitted for private and non-commercial use. If the content on our website was not created by us, the copyrights of third parties must be observed. The contents of third parties are marked as such. Should you nevertheless become aware of a copyright infringement, please inform us accordingly. If we become aware of any infringements, we will remove such content immediately.
                    </p>
                </div>
            </div>
        </div>
    </body>
    <footer lang="en" th:replace="assets/footer :: footer"></footer>
    <scriptcollection lang="en" th:replace="assets/jsscripts :: jsscripts">> </scriptcollection>
</html>