<!DOCTYPE HTML>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="assets/header :: header">
    <title>sqltoregex</title>
</head>
<body class="bg-dark">
<button lang="en" th:replace="assets/scrolltotop :: scrolltotop"></button>
<nav lang="en" th:replace="assets/navbar :: navbar"></nav>
<div lang="en" th:replace="assets/userwarning :: userwarning"></div>

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h1 th:text="#{privacy.heading1}">Privacy Policy</h1>
            <p th:utext="#{privacy.preambel}"> </p>
            <h2 th:text="#{privacy.informationWeCollectHeading}">Information We Collect</h2>
            <p th:text="#{privacy.informationWeCollectText}">Information we collect includes both information you knowingly and actively provide us when using or participating in any of our services and promotions, and any information automatically sent by your devices in the course of accessing our products and services. </p>
            <h3 th:text="#{privacy.logDataHeading}">Log Data</h3>
            <p th:text="#{privacy.logDataText}"> </p>
            <h3 th:text="#{privacy.collectionAndUseHeading}">Collection and Use of Information</h3>
            <p th:utext="#{privacy.collectionAndUseText}">We may collect personal information from you when you do any of the following on our website: </p>
            <h3  th:text="#{privacy.securityOfPersonalInformationHeading}">Security of Your Personal Information</h3>
            <p  th:text="#{privacy.securityOfPersonalInformationText}">When we collect and process personal information, and while we retain this information, we will protect it within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying, use, or modification. </p>
            <h3  th:text="#{privacy.howLongToKeepHeading}">How Long We Keep Your Personal Information</h3>
            <p  th:text="#{privacy.howLongToKeepText}">We keep your personal information only for as long as we need to. This time period may depend on what we are using your information for, in accordance with this privacy policy. If your personal information is no longer required, we will delete it or make it anonymous by removing all details that identify you. </p>
            <h2 th:text="#{privacy.childrensPrivcacyHeading}">Children’s Privacy</h2>
            <p th:text="#{privacy.childrensPrivcacyText}">We do not aim any of our products or services directly at children under the age of 13, and we do not knowingly collect personal information about children under 13. </p>
            <h2 th:text="#{privacy.internationalTransfersHeading}">International Transfers of Personal Information</h2>
            <p th:text="#{privacy.internationalTransfersText}">The personal information we collect is stored and/or processed where we or our partners, affiliates, and third-party providers maintain facilities. Please be aware that the locations to which we store, process, or transfer your personal information may not have the same data protection laws as the country in which you initially provided the information. If we transfer your personal information to third parties in other countries: (i) we will perform those transfers in accordance with the requirements of applicable law; and (ii) we will protect the transferred personal information in accordance with this privacy policy. </p>
            <h2 th:text="#{privacy.yourRightsHeading}">Your Rights and Controlling Your Personal Information</h2>
            <p th:text="#{privacy.yourRightsText}"></p>
            <h2 th:text="#{privacy.limitsHeading}">Limits of Our Policy</h2>
            <p th:text="#{privacy.limitsText}">Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and policies of those sites, and cannot accept responsibility or liability for their respective privacy practices. </p>
            <h2 th:text="#{privacy.changesHeading}">Changes to This Policy</h2>
            <p th:text="#{privacy.changesText}"></p>
            <h2 th:text="#{privacy.contactHeading}">Contact Us</h2>
            <p th:utext="#{privacy.contactText}">For any questions or concerns regarding your privacy, you may contact us using the following details: </p>
        </div>
    </div>
</div>
</body>
<footer lang="en" th:replace="assets/footer :: footer"></footer>
<div lang="en" th:replace="assets/jsscripts :: jsscripts"></div>
</html>