<!DOCTYPE HTML>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="assets/header :: header">
        <title>sql2regex</title>
    </head>
    <body class="bg-dark">
        <button lang="en" th:replace="assets/scrolltotop :: scrolltotop"></button>
        <nav lang="en" th:replace="assets/navbar :: navbar"></nav>
        <div lang="en" th:replace="assets/userwarning :: userwarning"></div>
        <div class="container mt-3">
            <div class="card">
                <div class="card-body">
                    <div id="visualizationOption1Heading">
                        <h1 class="fw-bolder border-bottom mb-3 mt-3" id="visualizationOption1h1" th:text="#{visualization.heading1}">Visualization</h1>
                    </div>
                    <div class="text-end" id="visualizationOption1ResourceHint">
                        <span class="badge rounded-pill bg-warning text-dark mb-3" th:text="#{visualization.externalResource}"></span>
                    </div>
                    <hr>
                    <div id="visualizationOption2Heading">
                        <h1 class="fw-bolder border-bottom mb-3 mt-3" id="visualizationOption2h1" th:text="#{visualization.heading2}">Advanced Visualization</h1>
                    </div>

                    <div class="alert alert-info d-flex align-items-center" role="alert">
                        <svg id="info-fill" class="bi flex-shrink-0 me-2" width="24" height="24" fill="currentColor" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                        </svg>
                        <div>
                            Eine erweiterte Visualisierung stellt die Website debuggex.com bereit.
                            Mit Hilfe dieser können Sie mit Hilfe eines Sliders konkrete Positionen im regulären Ausdruck highlighten, was ein besseres Debuggen ermöglicht.
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-9">
                            <figure class="figure">
                                <img th:src="@{/img/debuggex.png}" class="rounded border mx-auto d-block shadow w-75"  alt="Debuggex - Screenshot">
                                <figcaption class="figure-caption text-center mx-2 mt-1">Screenshot von debuggex.com</figcaption>
                            </figure>
                        </div>
                        <div class="col-3 m-auto">
                            <button type="button" onclick="location.href='debuggex.com'" class="btn btn-primary btn-lg fw-bolder">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                                </svg>
                                debuggex.com
                            </button>
                        </div>
                    </div>
<!--                    <div class="text-end" id="visualizationOption2ResourceHint">-->
<!--                        <span class="badge rounded-pill bg-warning text-dark mb-3" th:text="#{visualization.externalResource}"></span>-->
<!--                    </div>-->
<!--                    <iframe src="https://www.debuggex.com/" id="visualizationOption2" width="100%" height="800" scrollbar="scrollbar" title="W3Schools Free Online Web Tutorials">-->
<!--                    </iframe>-->
                </div>
            </div>
        </div>
    </body>
    <footer lang="en" th:replace="assets/footer :: footer"></footer>
    <div lang="en" th:replace="assets/jsscripts :: jsscripts"> </div>
</html>