<!DOCTYPE HTML>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="assets/header :: header">
        <title>sql2regex</title>
    </head>
    <body class="bg-dark">
        <button lang="en" th:replace="assets/scrolltotop :: scrolltotop"></button>
        <nav lang="en" th:replace="assets/navbar :: navbar"></nav>
        <div lang="en" th:replace="assets/userwarning :: userwarning"></div>
        <div class="container mt-3">
            <div class="card">
                <div class="card-body">
                    <div id="visualizationOption1Heading">
                        <h1 class="fw-bolder border-bottom mb-3 mt-3" id="visualizationOption1h1" th:text="#{visualization.heading1}">Visualization</h1>
                    </div>
                    <div class="text-end" id="visualizationOption1ResourceHint">
                        <span class="badge rounded-pill bg-warning text-dark mb-3">external resource</span>
                    </div>
                    <hr>
                    <div id="visualizationOption2Heading">
                        <h1 class="fw-bolder border-bottom mb-3 mt-3" id="visualizationOption2h1" th:text="#{visualization.heading2}">Advanced Visualization</h1>
                    </div>
                    <div class="text-end" id="visualizationOption2ResourceHint">
                        <span class="badge rounded-pill bg-warning text-dark mb-3">external resource</span>
                    </div>
                    <iframe src="https://www.debuggex.com/" id="visualizationOption2" width="100%" height="800" scrollbar="scrollbar" title="W3Schools Free Online Web Tutorials">
                    </iframe>
                </div>
            </div>
        </div>
    </body>
    <footer lang="en" th:replace="assets/footer :: footer"></footer>
    <div lang="en" th:replace="assets/jsscripts :: jsscripts"> </div>
</html>